<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='author' content='Jack Plane'>
  <meta name='description' content="<%= description %>"/>
  <meta name='keywords' content="<%= keywords %>"/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' type='text/css' href=<%= stylesheet_path %>>
  <title><%= brand %></title>
</head>
<body>
  <div class='container'>

    <header>
      <div class='top'>
        <div class='left'>
          <img width="100" height="100" src="<%= "#{root_path}images/flying_book_left.png" %>">
        </div>

        <div class='center'>
          <div class='brand'>
            <a href="<%= core_path %>"><%= brand %></a>
          </div>
        </div>

        <div class='right'>
          <img width="100" height="100" src="<%= "#{root_path}images/flying_book_right.png" %>">
        </div>
      </div>
 
      <% if @show_nav %>
        <div class='bottom'>
          view chapter as&nbsp;
          <a href="<%= index_path %>"> wiki </a>
          &nbsp;or&nbsp;
          <a href="<%= pages_path %>"> list </a>
        </div>
      <% end %>
    </header>

    <%= @body %>
  </div>
</body>
