<meta charset='utf-8'>
<meta name='author' content='jack@marginchronicles.com'>
<title><%= page.config["page_title"] || page.config["site_name"] %></title>
<meta name='description' content="<%= page.config["description"] %>"/>
<meta name='keywords' content="<%= page.config["keywords"] %>"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<% if page.type == :drafts %><meta name="robots" content="noindex"><% end %>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href=<%= "#{stylesheet_path(page.type)}/main.css" %>>
<link rel='stylesheet' type='text/css' href=<%= "#{stylesheet_path(page.type)}/#{page.config['font_type']}.css" %>>

