<header>
  <div class='top'>
    <div class='left'>
      <img width="100" height="100" src="<%= "#{root_path(page.type)}/images/flying_book_left.png" %>">
    </div>

    <div class='center'>
      <div class='brand'>
        <a href="<%= core_path(page.type) %>"><%= page.config["site_name"] %></a>
      </div>
    </div>

    <div class='right'>
      <img width="100" height="100" src="<%= "#{root_path(page.type)}/images/flying_book_right.png" %>">
    </div>
  </div>

  <% if page.show_lower_nav? %>
    <nav>
      view the <%= page.chapter.name %> chapter as a&nbsp;
      <a href="<%= index_path(page.type) %>"> wiki </a>
      &nbsp;or a&nbsp;
      <a href="<%= pages_path(page.type) %>"> list </a>
    </nav>
  <% end %>
</header>
