<header>
  <div class='top'>
    <div class='brand'>
      <a href="<%= core_path(page.type) %>"><%= page.config["site_name"] %></a>
    </div>
  </div>

  <% if page.show_lower_nav? %>
    <nav>
      <div class="left sans-serif-text">
        &bull;&nbsp;<%= page.chapter.name %> chapter&nbsp;&bull;&nbsp;
      </div>
      <div class="right sans-serif-text">
        <a href="<%= index_path(page.type) %>"> wiki </a>
        &nbsp;|&nbsp;
        <a href="<%= pages_path(page.type) %>"> list </a>
      </div
    </nav>
  <% end %>
</header>
