<div id="<%= @id %>" class='notecard'>
  <div class='id'>
    <%= @id %>
  </div>
  <a style="cursor: pointer;" onclick="goToRandomNotecard()" class='top-link'>jump to random</a>

  <div class='title'>
    <%= @title %>
  </div>

  <div class='source'>
    <em><%= @source %> - <%= @author %></em>
  </div>

  <div class='quote'>
    <%= @quote %>
  </div>

  <% if @note %>
    <div class='note'>
      <%= @note %>
    </div>
  <% end %>

  <% if mapped_refs.keys.length > 0 %>
    <p>See also:</p>
    <ul>
      <% mapped_refs.each do |ref, title| %>
        <li><a href="#<%= ref %>"><%= title %></a></li>
      <% end %>
    </ul>
  <% end %>

  <a href='#top' class='top-link'>&utri;</a>
</div>

