<!DOCTYPE html>
<html lang='en'>
<head>
  <%= render_partial :head %>
</head>
<body>
  <%= render_partial :header %>
  <main>
    <div class="notecard-stats" >
      <em>
        <%= page.notecard_count %> notecards gathered between <%= page.first_at %> and <%= page.last_at %> 
      </em>
    </div>

    <hr />

    <article class="notecards">
      <%= page.to_html %>

    </article>
  </main>
</body>

<script>
  function goToRandomNotecard() {
    const collection = document.getElementsByClassName("id");
    const array = [].slice.call(collection);
    const randomNotecard = array[Math.floor(Math.random() * array.length)];

    randomNotecard.scrollIntoView();
  }
</script>
